<div style="height: 100%; position: relative">
	<div class="expander" data-dojo-attach-point="containerToggleWrapper" style="display: none;">
		<button data-dojo-attach-point="containerToggle"></button>
	</div>
	<div style="height: 100%; width: 100%; opacity: 1" data-dojo-attach-point="Container">
		<div style="vertical-align: top; height: 8%;padding: 1%; display: none;">
			<h4 data-dojo-attach-point="chartTitleNode"></h4>
		</div>
		<div style="overflow: auto;">
			<div data-dojo-attach-point="stackedBarChartContainer"></div>
		</div>
        <div data-dojo-attach-point="stackedBarChartLegend"></div>
	</div>
</div>
