<div data-dojo-attach-point="container">
    <div class="step-container-outer">
        <div class="step-container-inner">
            <span data-dojo-attach-point="icon"></span>
        </div>
    </div>
    <h3 data-dojo-attach-point="text" class="step-label"></h3>
    <div data-dojo-attach-point="stepSummary" class="step-summary" style="display:none"></div>
    <div class="steps-connector">
        <span class="steps-connector-outer"></span>
        <span class="steps-connector-innter"></span>
    </div>
</div>