<div>
    <div class="tab row">
        <p class="extendedProperty-item extendedProperty-item-label"><label data-dojo-attach-point="fieldTitle"></label></p>
        <p class="extendedProperty-item extendedProperty-item-field" data-dojo-attach-point="fieldError">
            <input data-dojo-attach-point="fieldValue">
            <span class="extendedProperty-item-required" data-dojo-attach-point="fieldRequired" style="display: none;">* </span>
        </p>
            <div class="clear-fix"></div>
    </div>
</div>