<div>
    <img src="js/app/WorkflowManager/images/EsriGlobeWhite.png" alt="Esri emblem" height="35" class="logo" />
    <h1 data-dojo-attach-point="headerTitle" class="headerTitle">${i18n_Title}</h1>
    <h2 data-dojo-attach-point="headerVersion" class="headerSubTitle">${i18n_SubHeader}</h2>
    
    <div class="headerLinks">
        <div style="text-align:right;">
            <span data-dojo-attach-point="headerWelcomeText">${i18n_Welcome}</span> <span data-dojo-attach-point="txtUsername">...</span><span data-dojo-attach-point="logoutContainer">, <a data-dojo-attach-point="headerLogout" href="#">${i18n_Logout}</a></span>
        </div>
    </div>
</div>