<div style="height: 95%;">
    <form data-dojo-attach-point="historyForm" data-dojo-type="dijit.form.Form">
        <div class="tab row">
            <label>${i18n_EnterMessage}:</label>
            <textarea data-dojo-attach-point="historyTextarea"></textarea>
        </div>
        <div class="tab row">
            <label></label>
            <span data-dojo-attach-point="btnSaveHistory"></span>
        </div>
    </form>
    <div class="tab row">
        <label></label>
        <span data-dojo-attach-point="errorContainer" class="errorContent"></span>
    </div>
    <div class="tab row gridContainer">
        <div data-dojo-attach-point="gridContainer"></div>
    </div>
</div>
