<div id="mapTL">
    <div class="wrapper">
        <div id="drawContainer"></div>
    </div>
</div>

<div id="mapTR">
    <div class="wrapper">
        <div id="searchContainer"></div>
    </div>
    <div class="wrapper">
        <div id="esriLegendContainer"></div>
    </div>
    <div class="wrapper">
        <div id="basemapGalleryContainer" style="float: left;"></div>
    </div>
</div>

<div id="mapCenter">
</div>

<div id="mapBL">
    <div id="coordinatesContainer"></div>
</div>

<div id="mapBR"></div>
