.gis_DrawDijit {
}

.gis_DrawDijit .polyIcon {
    background-image: url(../images/toolbar_icons.png);
    background-position: -68px 0;
    width: 16px;
    height: 16px;
}

.gis_DrawDijit .pointIcon {
    background-image: url(../images/toolbar_icons.png);
    background-position: 0px 0;
    width: 16px;
    height: 16px;
}

.gis_DrawDijit .lineIcon {
    background-image: url(../images/toolbar_icons.png);
    background-position: -34px 0;
    width: 16px;
    height: 16px;
}

.gis_DrawDijit .saveIcon {
    background-image: url(../images/save.png);
    width: 16px;
    height: 16px;
}

.gis_DrawDijit .clearIcon {
    background-image: url(../images/clear.png);
    width: 16px;
    height: 16px;
}

.gis_DrawDijit .lassoIcon {
    background-image: url(../images/toolbar_icons.png);
    background-position: -102px 0;
    width: 16px;
    height: 16px;
}

.gis_DrawDijit .rectangleIcon {
    background-image: url(../images/toolbar_icons.png);
    background-position: -340px 0;
    width: 16px;
    height: 16px;
}

.gis_DrawDijit .cancelIcon {
    background-image: url(../images/toolbar_icons.png);
    background-position: -323px 0;
    width: 16px;
    height: 16px;
}

.gis_DrawDijit .drawToolsContainer {
    width: 100%;
}