<div class="gis_DrawDijit">
    <div class="drawToolsContainer">
        <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnDrawPoint" data-dojo-props="iconClass:'pointIcon',showLabel:true,'style':'float: left;'">${i18n_Point}</div>
        <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnDrawLine" data-dojo-props="iconClass:'lineIcon',showLabel:true,'style':'float: left;'">${i18n_Line}</div>
        <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnDrawPolygon" data-dojo-props="iconClass:'polyIcon',showLabel:true,'style':'float: left;'">${i18n_Polygon}</div>
        <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnDrawRectangle" data-dojo-props="iconClass:'rectangleIcon',showLabel:true,'style':'float: left;'">${i18n_Rectangle}</div>
        <div data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnDrawFreehandPolygon" data-dojo-props="iconClass:'lassoIcon',showLabel:true,'style':'float: left;'" data-dojo-attach-event="onClick:drawFreehandPolygon">${i18n_Lasso}</div>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnClearAoi" data-dojo-props="iconClass:'clearIcon',showLabel:true,'style':'float: left;'" disabled="true">${i18n_Delete}</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnSaveGraphics" data-dojo-props="iconClass:'saveIcon',showLabel:true,'style':'float: left;'" disabled="true">${i18n_Save}</button>
        <button data-dojo-type="dijit/form/Button" data-dojo-attach-point="btnCancelDraw" data-dojo-props="iconClass:'cancelIcon',showLabel:true,'style':'float: left;'" disabled="false">${i18n_Cancel}</button>
        <!-- ,'class':'dojo-btn-inverse' -->
    </div>
</div>
