<div style="height: 100%; position: relative">
    <table style="height: 100%; width: 100%">
        <tbody>
            <tr style="display: none;">
                <td style="vertical-align: top; height: 0" colspan="2">
                    <h4 data-dojo-attach-point="chartTitleNode"></h4>
                </td>
            </tr>
            <tr>
                <td style="width: 200px; height: 200px; vertical-align: top;">
                    <div data-dojo-attach-point="chartContainerNode" class="stacked" style="height: 100%"></div>
                </td>
                <td style="vertical-align: top;">
                    <div data-dojo-attach-point="legendContainerNode"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>