<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
  <serverUrls>
    <!-- serverUrl options:
            url = location of the ArcGIS Server, either a specific URL or a prefix
            matchAll = true to forward any request beginning with the URL, false for an exact match
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and
              password stored in web.config file's appSettings section.
    -->
    <serverUrl url="http://server.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://services.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://sampleserver1.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://sampleserver2.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://sampleserver3.arcgisonline.com/arcgis/rest/services" matchAll="true"/>

    <serverUrl url="http://workflowsample.arcgis.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://workflowsample.esri.com/arcgis/rest/services" matchAll="true"/>

    <!-- NOTE: replace "myserver" with your server name and uncomment the XML lines below -->
<!--
    <serverUrl url="http://myserver/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://myserver:6080/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://myserver:8399/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="http://myserver/wmrest/services" matchAll="true"/>
-->

  </serverUrls>  
</ProxyConfig>
