<?xml version="1.0" encoding="utf-8" ?>
<!-- Proxy config is used to set the ArcGIS Server services that the proxy will forward to.
        mustMatch: true to only proxy to sites listed, false to proxy to any site -->
<ProxyConfig mustMatch="true">
  <serverUrls>
    <!-- serverUrl options:
            url = location of the ArcGIS Server, either a specific URL or a prefix
            matchAll = true to forward any request beginning with the URL, false for an exact match
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and
              password stored in web.config file's appSettings section.
    -->
    <serverUrl url="https://server.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="https://services.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="https://tasks.arcgisonline.com/ArcGIS/rest/services" matchAll="true"/>
    <serverUrl url="https://sampleserver1.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="https://sampleserver2.arcgisonline.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="https://sampleserver3.arcgisonline.com/arcgis/rest/services" matchAll="true"/>

    <serverUrl url="https://workflowsample.esri.com/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="https://workflowsample.esri.com:6443/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="https://workflowsample.esri.com:6443/arcgis/tokens" matchAll="true"/>

    <!-- NOTE: Replace "myserver" with your server name and uncomment the XML lines below
               If using https, replace http with https and update the port number from
               6080 to 6443 as needed.
               e.g. https://myserver:6443/arcgis/rest/services
          
    -->
<!--
    <serverUrl url="https://myserver/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="https://myserver:6443/arcgis/rest/services" matchAll="true"/>
    <serverUrl url="https://myserver/wmrest/services" matchAll="true"/>
    
    <serverUrl url="https://myserver/arcgis/tokens" matchAll="true"/>   
    <serverUrl url="https://myserver:6443/arcgis/tokens" matchAll="true"/>
-->

  </serverUrls>  
</ProxyConfig>
