<div style="height: 100%; position: relative" data-dojo-attach-point="chartContainer">
    <div class="expander" data-dojo-attach-point="containerToggleWrapper" style="display: none;">
        <button data-dojo-attach-point="containerToggle"></button>
    </div>
    <div data-dojo-attach-point="pieChartTitle" class="pieSlice-label"></div>
    <table class="pie-container" data-dojo-attach-point="Container">
        <tbody>
            <tr style="display: none;">
                <td style="vertical-align: top; height: 0%" colspan="2">
                    <h4 data-dojo-attach-point="chartTitleNode"></h4>
                </td>
            </tr>
            <tr>
                <td style="width: 200px; vertical-align: top;">
                    <div data-dojo-attach-point="chartContainerNode" style="height: 100%;"></div>
                </td>
                <td style="vertical-align: top;">
                    <div data-dojo-attach-point="legendContainerNode">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
