<div>

    <div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="dropDownButton">
        <span>${i18n_Legend_Label}</span>
    </div>

    <!--
    <div data-dojo-type="dijit/form/DropDownButton" data-dojo-attach-point="dropDownButton">
        <span>${i18n_Legend_Label}</span>
        <div data-dojo-type="dijit/TooltipDialog">
            
        </div>
    </div>
    -->
    <!--<div data-dojo-attach-point="legend"></div>-->
    
    <div data-dojo-attach-point="legendContainer"></div>
    
</div>